// font-family: 'Exo', sans-serif;
// font-family: 'Fira Sans', sans-serif;
// font-family: 'Inter', sans-serif;
$bootstrap-sass-asset-helper: false !default;
//Use Colors
$primary-color: #0E59F2;
$title-color: #1A1A1A;
$text-color: #8B919C;
$whte-color: #FFFFFF;

// font-family
$title-font: 'Exo',
sans-serif;
$text-font:'Fira Sans',
sans-serif;
$btn-font: 'Inter',
sans-serif;